.tagContainer{
  max-width: 105px;
  height: 25px;
  box-sizing: border-box;
}

.changeinputContainer{
  max-width: 120px;
  height: 25px;
  box-sizing: border-box;
}

.myCategoryContainer{
  margin: 5px;
  
}